.react-mail-chips {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.react-mail-chips .placeholder {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  color: #999;
  font-size: 14px;
  pointer-events: none;
}
